.page-inner-nav {
  background-color: #ffffff; }
  .page-inner-nav .button {
    padding: 0; }
    .page-inner-nav .button input[type="button"] {
      padding: 0 4rem;
      margin: 0;
      width: 100%;
      height: 64px;
      font-size: 1.5rem; }
