@import '../../../colors.scss';

.page-inner-nav {
    background-color: $white-color;

    .button {
        padding: 0;

        input[type="button"] {
            padding: 0 4rem;
            margin: 0;
            width: 100%;
            height: 64px;
            font-size: 1.5rem;
        }
    }
}