h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1em; }

input[type='button'] {
  height: 64px;
  font-size: 1.5rem; }

input[type='text'],
input[type='password'],
textarea {
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  font-size: 1.2rem;
  margin: 0.1rem 0 1rem 0;
  padding: 11px 12px;
  box-sizing: border-box; }

input[type='text']::placeholder {
  font-size: 0.8rem; }

select {
  width: 100%;
  min-width: 24rem; }

textarea {
  height: auto;
  min-width: 100%; }

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  cursor: pointer;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 2;
  padding: 0.4rem 1rem;
  text-decoration: none;
  min-width: 8rem;
  margin-bottom: 0.4rem; }
  .link-button:active {
    position: relative;
    top: 4px; }

.link-button {
  color: #171717; }
  .link-button.primary {
    background-color: #8233B7;
    color: #ffffff; }
  .link-button.small {
    font-size: 1rem;
    height: 3rem; }
  .link-button.active hr {
    margin: 0;
    width: 100%; }
