@import '../../colors.scss';
@import '../../controls.scss';

.link-button {
    @extend %button-base;

    color: $davys-grey-shade-color;

    &.primary {
        background-color: $grape-color;
        color: $white-color;
    }
    &.small {
        font-size: 1rem;
        height: 3rem;
    }
    &.active {
        hr {
            margin: 0;
            width: 100%;
        }
    }
}
