@import '../../fonts.scss';
@import '../../colors.scss';

.page {
	.page-title-wrapper {
		margin: 6rem 0;

		.page-sub-title {
			color: $davys-grey-color;
			font-weight: 400;
		}
	}

	.page-content {
		min-height: 40rem;
	}
	
	&.dark-mode {
		background-color: $grape-shade-color;
		color: $white-color;

		.page-sub-title {
			color: $grape-tint-color;
			font-weight: 400;
		}

		.link-button {
			color: $white-color;
		}
	}

	&.condense-header {
		.page-title-wrapper {
			margin: 0;

			h1 {
				font-size: 3rem;
			}
			h3 {
				font-size: 1.5rem;
			}
		}
	}
}