.page .page-title-wrapper {
  margin: 6rem 0; }
  .page .page-title-wrapper .page-sub-title {
    color: #525252;
    font-weight: 400; }

.page .page-content {
  min-height: 40rem; }

.page.dark-mode {
  background-color: #301343;
  color: #ffffff; }
  .page.dark-mode .page-sub-title {
    color: #8E7E98;
    font-weight: 400; }
  .page.dark-mode .link-button {
    color: #ffffff; }

.page.condense-header .page-title-wrapper {
  margin: 0; }
  .page.condense-header .page-title-wrapper h1 {
    font-size: 3rem; }
  .page.condense-header .page-title-wrapper h3 {
    font-size: 1.5rem; }
