@import '../../colors.scss';

.grid {
	margin-bottom: 2rem;
	
	.grid-header {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $davys-grey-shade-color;
	}
	.grid-title {

		box-sizing: border-box;
		font-size: 1.5em;
		padding: 8px 0;
	}
	.grid-actions {
		display: flex;
		align-items: center;

		input[type="button"],
		a.link-button {
			margin-left: 0.4rem;
		}
	}
	.grid-headers {
		border-bottom: 1px solid $davys-grey-tint-color;
	}
	.grid-rows {
		.grid-row {
			display: flex;
			flex-direction: row;			

			.grid-cell {
				display: flex;
				align-items: center;
				padding: 8px 12px;
				min-width: 80px;

				&.grid-cell-selector {
					min-width: 30px;
				}
			}
		}
	}
}