.grid {
  margin-bottom: 2rem; }
  .grid .grid-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #171717; }
  .grid .grid-title {
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 8px 0; }
  .grid .grid-actions {
    display: flex;
    align-items: center; }
    .grid .grid-actions input[type="button"],
    .grid .grid-actions a.link-button {
      margin-left: 0.4rem; }
  .grid .grid-headers {
    border-bottom: 1px solid #AAAAAA; }
  .grid .grid-rows .grid-row {
    display: flex;
    flex-direction: row; }
    .grid .grid-rows .grid-row .grid-cell {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      min-width: 80px; }
      .grid .grid-rows .grid-row .grid-cell.grid-cell-selector {
        min-width: 30px; }
