@import '../../colors.scss';
@import '../../controls.scss';

.button {
    transition: all 140ms ease-in-out;

    input[type='button'],
    .async-button {
        @extend %button-base;
    }

    &.small {
        input[type='button'],
        .async-button {
            font-size: 1rem;
            height: 3rem;
        }
    }

    &.rowaction {
        background: none;
        height: auto;
        padding: 0;
        margin: 0;
        text-decoration: underline;
        min-width: auto;

        input[type='button'] {
            background: none;
            height: auto;
            padding: 0;
            margin: 0;
            text-decoration: underline;
            min-width: auto;
        }
    }

    &.primary {
        input[type='button'],
        .async-button {
            background-color: $grape-color;
            color: $white-color;
        }
        &.disabled {
            input[type='button'],
            .async-button {
                background-color: $grape-shade-color;
            }
        }
        &.hoverable {
            &:hover {
                background-color: $white-color;
            }
        }
        &.active {
        }
    }
    &.secondary {
        input[type='button'],
        .async-button {
            background-color: transparent;
            background: none;
        }
        &.hoverable {
            &:hover {
            }
        }
        &.active {
            input[type='button'] {
                text-shadow: 1px 1px 1px #000000;
            }
        }
    }
    &.flat {
        input[type='button'],
        .async-button {
            border-radius: 0;
        }
    }

    &.nomargin {
        input[type='button'],
        .async-button {
            margin: 0;
        }
    }
    &.nomarginleft {
        input[type='button'],
        .async-button {
            margin-left: 0;
        }
    }
}
