h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1em; }

input[type='button'] {
  height: 64px;
  font-size: 1.5rem; }

input[type='text'],
input[type='password'],
textarea {
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  font-size: 1.2rem;
  margin: 0.1rem 0 1rem 0;
  padding: 11px 12px;
  box-sizing: border-box; }

input[type='text']::placeholder {
  font-size: 0.8rem; }

select {
  width: 100%;
  min-width: 24rem; }

textarea {
  height: auto;
  min-width: 100%; }

.button input[type='button'],
.button .async-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  cursor: pointer;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 2;
  padding: 0.4rem 1rem;
  text-decoration: none;
  min-width: 8rem;
  margin-bottom: 0.4rem; }
  .button input:active[type='button'],
  .button .async-button:active {
    position: relative;
    top: 4px; }

.button {
  transition: all 140ms ease-in-out; }
  .button.small input[type='button'],
  .button.small .async-button {
    font-size: 1rem;
    height: 3rem; }
  .button.rowaction {
    background: none;
    height: auto;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    min-width: auto; }
    .button.rowaction input[type='button'] {
      background: none;
      height: auto;
      padding: 0;
      margin: 0;
      text-decoration: underline;
      min-width: auto; }
  .button.primary input[type='button'],
  .button.primary .async-button {
    background-color: #8233B7;
    color: #ffffff; }
  .button.primary.disabled input[type='button'],
  .button.primary.disabled .async-button {
    background-color: #301343; }
  .button.primary.hoverable:hover {
    background-color: #ffffff; }
  .button.secondary input[type='button'],
  .button.secondary .async-button {
    background-color: transparent;
    background: none; }
  .button.secondary.active input[type='button'] {
    text-shadow: 1px 1px 1px #000000; }
  .button.flat input[type='button'],
  .button.flat .async-button {
    border-radius: 0; }
  .button.nomargin input[type='button'],
  .button.nomargin .async-button {
    margin: 0; }
  .button.nomarginleft input[type='button'],
  .button.nomarginleft .async-button {
    margin-left: 0; }
