.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10rem 0 5rem 0; }
  .register .sub-title {
    font-weight: 400; }
  .register .login-controls {
    display: flex;
    flex-direction: column;
    margin: 80px 0 40px 0;
    width: 400px; }
    .register .login-controls .button input[type='button'] {
      width: 100%; }
