@import '../../colors.scss';

.dialog-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    transition: all 140ms ease-in-out;

    &.open {
        display: flex;
        justify-content: center;
        opacity: 1;
    }

    .dialog-blanket {
        background-color: $grape-shade-color;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .dialog {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 15%;
        max-height: 76vh;

        background-color: $white-color;
        z-index: 2;

        padding: 1rem;

        .dialog-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            min-height: 6rem;
            max-height: 800px;
            overflow-y: scroll;
        }
        .dialog-actions {
            display: flex;
            justify-content: flex-end;
            padding: 2rem 0;

            input[type='button'] {
                margin-left: 0.4rem;
            }
        }
    }
}
