.site-nav {
  display: flex;
  flex-direction: row;
  background: transparent;
  justify-content: space-between;
  padding: 24px; }
  .site-nav .nav-items {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
    flex: 1; }
