.error-message {
  align-content: center;
  border: 1px solid #D61717;
  background: #FF8170;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: center; }
