@import '../../colors.scss';

.error-message {
	align-content: center;
	border: 1px solid $red-color;
	background: $salmon-color;
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
	padding: 20px;
	text-align: center;
}