$cedars-chest-tint-color: #C47467;
$cedars-chest-color: #C05746;
$cedars-chest-shade-color: #60231A;

$davys-grey-tint-color: #AAAAAA;
$davys-grey-color: #525252;
$davys-grey-shade-color: #171717;

$eggshell-color: #F9FEFF;

$pastel-green-tint-color: #39D262;
$pastel-green-color: #0EC940;
$pastel-green-shade-color: #043712;

$grape-tint-color: #8E7E98;
$grape-color: #8233B7;
$grape-shade-color: #301343;

$liberty-tint-color: #AAA3CE;
$liberty-color: #6457A6;
$liberty-shade-color: #1C182E;

$red-color: #D61717;
$salmon-tint-color: #FFD6D1;
$salmon-color: #FF8170;
$salmon-shade-color: #3D0700;

$white-color: #ffffff;
$white-shade-color: #BEBEBE;

$raisin-black-color: #232323;