@import './colors.scss';
@import './fonts.scss';
@import './controls.scss';

* {
	font-family: $roboto-font-regular;
}

html, body, #root, #app-root, .app {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	color: $raisin-black-color;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.site-title {
	font-family: $press-start-2p-font;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.nomarginleft {
	margin-left: 0;
}

.fullwidth {
	width: 100%;
}