h1,
h2,
h3,
h4,
h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1em; }

input[type='button'] {
  height: 64px;
  font-size: 1.5rem; }

input[type='text'],
input[type='password'],
textarea {
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  font-size: 1.2rem;
  margin: 0.1rem 0 1rem 0;
  padding: 11px 12px;
  box-sizing: border-box; }

input[type='text']::placeholder {
  font-size: 0.8rem; }

select {
  width: 100%;
  min-width: 24rem; }

textarea {
  height: auto;
  min-width: 100%; }

* {
  font-family: "Roboto Condensed", sans-serif; }

html, body, #root, #app-root, .app {
  height: 100%; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  color: #232323; }

.app {
  display: flex;
  flex-direction: column;
  height: 100%; }

.site-title {
  font-family: "Press Start 2P", cursive; }

.nopadding {
  padding: 0; }

.nomargin {
  margin: 0; }

.nomarginleft {
  margin-left: 0; }

.fullwidth {
  width: 100%; }
