.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	margin: 10rem 0;

	.sub-title {
		font-weight: 400;
	}

	.login-controls {
		display: flex;
		flex-direction: column;
		margin-top: 80px;

		width: 400px;

		.button {
			input[type="button"] {
				width: 100%;
			}
		}
	}
}