.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10rem 0; }
  .login .sub-title {
    font-weight: 400; }
  .login .login-controls {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 400px; }
    .login .login-controls .button input[type="button"] {
      width: 100%; }
