.text-field {
  width: 100%;
  box-sizing: border-box; }
  .text-field .text-field-label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px; }
