@import '../../colors.scss';

.notification-system {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    .notification {
        border-radius: 4px;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        top: -999px;
        left: 0px;
        margin: 0 0 20px 0;
        max-width: 400px;
        opacity: 1;
        padding: 14px 20px;
        pointer-events: auto;
        position: relative;
        transition: all 600ms ease-in;

        &.debug {
            background-color: $davys-grey-tint-color;
            color: #000000;
        };
        &.info {
            background-color: $eggshell-color;
            color: $davys-grey-shade-color;
        }
        &.success {
            background-color: $pastel-green-tint-color;
            color: $pastel-green-shade-color;
        }
        &.warn {
            background-color: $salmon-tint-color;
            color: $salmon-shade-color;
        }
        &.visible {
            top: 88px;
            left: 0px;
            transition: all 500ms ease-out;
        }
        &.dismissed {
            left: -999px;
            opacity: 0;
            transition: all 500ms ease-out;
        }

        .content {
            display: flex;
            align-items: flex-start;

            svg {
                font-size: 2rem;
            }
        }
        .content-column {
            display: flex;
            flex-direction: column;
            margin: 0 1rem 0 1rem;
            align-items: flex-start;
            max-width: 12rem;
        }
        .bug-icon {
            color: #ffffff;
            font-size: 2rem;
        }
        .close-icon {
            bottom: 8px;
            color: $davys-grey-tint-color;
            cursor: pointer;
            margin-left: 16px;
            position: relative;
            left: 13px;
        }
        .check-icon {
            color: $pastel-green-shade-color;
        }
        .error-icon {
            color: $red-color;
        }
        .priority-icon {
            color: $davys-grey-color;
            font-weight: 400;
        }
        .message {
            font-size: 0.8rem;
            margin: 0 0 6px 0;

            &.info {
                color: $davys-grey-shade-color;
            }
            &.warn {
                color: $davys-grey-shade-color;
            }
            &.success {
                color: $davys-grey-shade-color;
            }
        }
        .title {
            font-size: 0.8rem;
            font-weight: 700;
            margin: 0 0 4px 0;
        }
    }
}