.notification-system {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .notification-system .notification {
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    top: -999px;
    left: 0px;
    margin: 0 0 20px 0;
    max-width: 400px;
    opacity: 1;
    padding: 14px 20px;
    pointer-events: auto;
    position: relative;
    transition: all 600ms ease-in; }
    .notification-system .notification.debug {
      background-color: #AAAAAA;
      color: #000000; }
    .notification-system .notification.info {
      background-color: #F9FEFF;
      color: #171717; }
    .notification-system .notification.success {
      background-color: #39D262;
      color: #043712; }
    .notification-system .notification.warn {
      background-color: #FFD6D1;
      color: #3D0700; }
    .notification-system .notification.visible {
      top: 88px;
      left: 0px;
      transition: all 500ms ease-out; }
    .notification-system .notification.dismissed {
      left: -999px;
      opacity: 0;
      transition: all 500ms ease-out; }
    .notification-system .notification .content {
      display: flex;
      align-items: flex-start; }
      .notification-system .notification .content svg {
        font-size: 2rem; }
    .notification-system .notification .content-column {
      display: flex;
      flex-direction: column;
      margin: 0 1rem 0 1rem;
      align-items: flex-start;
      max-width: 12rem; }
    .notification-system .notification .bug-icon {
      color: #ffffff;
      font-size: 2rem; }
    .notification-system .notification .close-icon {
      bottom: 8px;
      color: #AAAAAA;
      cursor: pointer;
      margin-left: 16px;
      position: relative;
      left: 13px; }
    .notification-system .notification .check-icon {
      color: #043712; }
    .notification-system .notification .error-icon {
      color: #D61717; }
    .notification-system .notification .priority-icon {
      color: #525252;
      font-weight: 400; }
    .notification-system .notification .message {
      font-size: 0.8rem;
      margin: 0 0 6px 0; }
      .notification-system .notification .message.info {
        color: #171717; }
      .notification-system .notification .message.warn {
        color: #171717; }
      .notification-system .notification .message.success {
        color: #171717; }
    .notification-system .notification .title {
      font-size: 0.8rem;
      font-weight: 700;
      margin: 0 0 4px 0; }
